{% extends 'base.html' %}

{% block content %}
<h2>Cars for {{ brand.name }}</h2>
<p>Total Cars Available: {{ cars.count }}</p>

<div class="row">
    {% for car in cars %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ car.name }}</h5>
                    <p class="card-text">Brand: {{ car.brand.name }}</p>
                    <p class="card-text">Price: ${{ car.price }}</p>
                    <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
